<div class="container py-5">
  <app-form-customer [isEdit]="isEdit" [customer]="person"></app-form-customer>
  <h3>Users</h3>
  <form action="" class="form p-3 mt-3">
    <div class="form-group">
      <div class="input-group pl-2 w-100">
        <input id="filter" type="text" name="text" placeholder="Search">
        <i id="filterIcon" class="fa fa-search"></i>
      </div>
    </div>
  </form>
  <app-list-customers
    [data]="(customers$ | async)?.data"
    (editRow)="editCustomer($event)">
  </app-list-customers>
</div>

<router-outlet></router-outlet>
